            <form role="form">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" class="form-control">
                </div>
                <button class="btn btn-success" type="button" id="boton">Aceptar</button>
            </form>
            <div class="row pdt-50">
                <div class="col-md-12">
                  <div class="alert alert-warning hide" id="aviso" role="alert"></div>  
                </div>
            </div>
